In [14]:
import pandas as pd

In [15]:
data={'size': ['S', 'M', 'L', 'XL', 'M', 'L', 'S', 'XL']}

In [16]:
data

{'size': ['S', 'M', 'L', 'XL', 'M', 'L', 'S', 'XL']}

In [17]:
df = pd.DataFrame(data)

In [18]:
df

  size
0    S
1    M
2    L
3   XL
4    M
5    L
6    S
7   XL

In [19]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['size_encoded'] = label_encoder.fit_transform(df['size'])

In [20]:
print(df)

  size  size_encoded
0    S             2
1    M             1
2    L             0
3   XL             3
4    M             1
5    L             0
6    S             2
7   XL             3

In [ ]:
size_mapping = {index: label for index, label in enumerate(label_encoder.classes_)}

In [21]:
print("Size Mapping:",size_mapping)

Size Mapping: {0: 'L', 1: 'M', 2: 'S', 3: 'XL'}